
// Element size

size(width = 30, height = 30)
  width width px
  height height px

// Contextual backgrounds

bg-variant(parent, color)
  {parent}
    background-color color
  {parent} a:hover
    background-color lighten(color, 10)
