// Base class
//
// styling for bare HTML elements
// These come with default styling from the browser so we can redefine them here

html
  height 100%

body
  background-color $body-bg
  font-family 'Open Sans',sans-serif


  min-height 100%
  display flex
  flex-direction column

  overflow-x hidden

main
  flex 1

body, ul
  margin 0
  padding 0

li
  list-style none

a
  text-decoration none
  color inherit

  &:visited
    color inherit
