<div class="overlay" id="menu-overlay" aria-hidden="true"></div>

<aside class="site-nav bg-red text-white" role="complementary">
  <svg class="icon close" aria-label><use xlink:href="#icon-close"></use></svg>
  <h2 class="title text-uppercase">Menu</h2>
  <nav class="menu" role="navigation">
    <ul class="list-group">
      <li class="nav-item item text-center"><a class="link" href="http://erickbogarin.com.br/">Home</a></li>
       <li class="nav-item item text-center"><a class="link" href="http://erickbogarin.com.br/sobre-mim/">About me</a></li>
       <li class="nav-item item text-center"><a class="link feed" href="{{ site.url }}/tags/" title="Atom/RSS feed">Tags</a></li>
       <li class="nav-item item text-center"><a class="link feed" href="{{ site.url }}/feed.xml" title="Atom/RSS feed">Feed</a></li>
    </ul>
  </nav>
</aside>
