//
// Overlays
// --------------------------------------------------


// Navigation Overlay
//
// A full screen overlay navigation menu
.overlay
  display: block;
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
