
.tag-list
  color #7b8b8e
  font-size rem(14px)
  font-weight bold

  >.tag
    display inline-block
    border-radius 100px
    background transparent
    border 2px solid rgba(48,73,97,0.1)
    margin-left 5px
    padding 0 12px
    line-height 32px
    white-space nowrap
    position relative
    text-align center

