//
// Icons
// --------------------------------------------------

.icon
  fill $gray-very-dark
  size(35, 35)

  &.close
    fill $gray-lighter
    transition .2s fill

    &:hover
      fill $white

.icon-menu, .icon-search
  cursor pointer
